.App{
    // border: gray 1px solid;
    width: 80%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color:hsl(180,7%,92%);
}

@media screen and( max-width: 600px) {
    .App{
        width: 100%;
    }
}