.App{
    margin-top: 3rem;
    border: gray 1px solid;
    width: 80%;
    height: 100rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

body{
    background-color: antiquewhite;
}