.App{
    // border: gray 1px solid;
    width: 80%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
body{
    // background-color:#5D001E;
    background-color:whitesmoke;
}
//#5D001E
@media screen and( max-width: 600px) {
    .App{
        margin: 0;
        padding: 0;
        width: inherit;
    }
    body{
        background-color: white;
    }
}