.prodcard{
    width: 20rem;
    height: 28rem;
    margin-top: 3rem;
    border: 5px solid #FFAC4A !important;
    cursor: pointer;
}


.cartBtn{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.contImg{
  width: 100%;
  aspect-ratio: 16/9;

  
}

.prodImg{
  margin: 0;
  padding: 0;
    width: 100%;
    height: inherit;
    aspect-ratio: 16/9;
}

.prodHeader{
  text-align: center;
  font-size: 2rem;
}

.prodDes{
  overflow-y: scroll;
  height: 10rem;
  
}

.prodRate{
  width:30%;
}

.priceCard{
  font-size: 2rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.ratingCont{
  margin-top: auto;
}

.TagCont{
  display: flex;
  margin-bottom: 0px;
  flex-direction: row;
}

.prodcard:hover{
  background-color: #F9C87C;
}

@media screen  and (max-width: 500px){
  .prodcard{
    width: 80%;
    height: 25rem;
  }
  .prodImg{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

  }
  

}