.prodcard{
    width: 20rem;
    height: 30rem;
    margin: 3rem;
}

.infoBtn{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.prodImg{
    width: 100%;
    height: inherit;
    aspect-ratio: 2/1;
}