.loginBtnGoogle{
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

.loginForm{
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}

.signinHeader{
    text-align: center;
    margin-top: 2rem;
}

.loginCard{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.createAccCont{
    margin-top: 3rem;
}

@media screen and( max-width: 800px) {
    .loginCard{
        width: 30rem;
    }
    .loginForm{
        width: inherit;
    }
}
@media screen and( max-width: 600px) {
    .loginCard{
        width: 100%;
    }
}