.singleProdImg{
    // aspect-ratio: 16/9;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.singleProdCard{
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
.singleProdTitle{
    text-align: center;
    font-size: 3rem;
}
.singlePrice{
    font-weight: 600;
    font-size: 2rem;
    margin-left: 1rem;
}
.singleTags{
    font-weight: 600;
    font-size: 2rem;
    margin-left: 1rem;
}

.TagCont{
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
  }
  .tagProdPage{
      margin-left: 10px;
  }

  @media screen and (max-width: 800px){
      .singleProdCard{
          width: 100%;
      }
      .singleProdImg{
          width: inherit;
      }
  }