.createHeader{
    text-align: center;
}

.createCard{
    margin-top: 3rem;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.createForm{
    width: 600px;
}

.passwordAlert{
    color: red;
    font-style: italic;
}

@media screen and ( max-width: 750px) {
    .createCard{
        width: 400px;
    }
    .createForm{
        width: inherit;
    }
}
@media screen and ( max-width: 450px) {
    .createCard{
        width: 300px;
    }
}