.createHeader{
    text-align: center;
}

.createCard{
    margin-top: 3rem;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.createForm{
    width: 600px;
}

.passwordAlert{
    color: red;
    font-style: italic;
}