@import '../../scss/mainThemes.scss';

.homeTopBar{
    margin-bottom: 300px;
}
.homeImgDiv{
    width: 100%;
    height: 500px;
    z-index: -1;
}
.imgHome{
    width: 100%;
    position: relative;
}

.homeImgBlackOut{
    position: relative;
    height: 800px;
    width: 100%;
    background-color: black;
    opacity: 60%;
    bottom:800px;
    z-index: 0;
}
.homeTitleDiv{
    position: absolute;
    width: 20%;
    right: 40%;
    z-index: 3;
    top: 200px;
}
.homeTitle{
    font-size: 4rem;
    color: $primary-color;
    text-align: center;

}

.homePar{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: -200px;
    width: 40%;
    // right: 30%;
    color: $primary-color;
    font-size: 2rem;
    background-color: #EEF2FF;
    border: $primary-color solid 2px;
    border-radius: 10px;
   
}
.homeCatCard{
    width: 500px;
    border-radius: 25px !important;
    background-color: #EEF2FF !important;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.catImgHome{
    border-radius: 25px;
    width: 500px;
}

.homeCardTitle{
    text-align: center;
    color: $primary-color;
    font-size: 4rem;
}
.ColHomepage{
    width: inherit;
}
.homeRow{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.rowHomepage{
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width:3200px) {
    .homeImgBlackOut{
        height: 1500px;
        bottom:1500px;
    }
    .homeImgDiv{
        height: 1200px;
    }
    .homeTitle{
        font-size: 10rem;
    }
    .homePar{
        font-size: 5rem;
        top: -600px;
    }
}
@media screen and (min-width:2450px) and (max-width:3200px) {
    .homeImgDiv{
        height: 900px;
    }
    .homeTitle{
        font-size: 8rem;
    }
    .homePar{
        font-size: 4rem;
        top: -400px;
    }
    
}

@media screen and (min-width:2000px) and (max-width:3200px) {
    .homeImgBlackOut{
        height: 1300px;
        bottom:1300px;
    }
    .homeTitle{
        font-size: 6rem;
    }
    .homePar{
        font-size: 3rem;
        top: -200px;
    }
}

@media screen and (min-width:1850px) {
    .homeCatCard{
        width: 800px;
    }
    .homeRow{
        width: 800px;
    }
    .catImgHome{
        width: 800px;
    }
}

@media screen and (max-width:1450px) {
    .homePar{
        bottom: 300px;
    }
    .homeTopBar{
        margin-bottom: 250px;
    }
    .homePar{
        bottom: 30px;
    }
}
@media screen and (max-width:1320px) {
    .homeTitleDiv{
        top:80px
    }
    .homePar{
        bottom: 500px;
    }
    .homeTopBar{
        margin-bottom: 150px;
    }
    .homeRow{
        width: 600px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width:1000px) {
    .homeTitleDiv{
        top:180px;
        right:50%
    }
    .homePar{
        display: none;
    }
    .homeTopBar{
        margin-bottom: 0px;
    }
}

@media screen and (max-width:700px) {
    .homeTitleDiv{
        top:180px;
        right:50%
    }
    .homePar{
        display: none;
    }
    .homeTopBar{
        margin-bottom: 0px;
    }
    .homeRow{
        width: 100%;
    }
    .rowHomepage{
        width: 100%;
    }
    
}

@media screen and (max-width:600px) {
   .homeCatCard{
    width: 300px;
   
   }
   .catImgHome{
    width: 100%;

   }
   .homeImgDiv{
    height: 320px;
}
}

@media screen and (max-width:400px) {
    .homeCatCard{
        width: 250px;
       
       }
    .homeTitleDiv{
        right:80%;
        top:100px;
    }
    .homeCardTitle{
        font-size: 2rem;
    }
    .homeTitle{
        font-size: 3rem;
    }
    .homeTopBar{
        margin-bottom: 0px;
    }
    .homeRow{
        bottom: 200px;
    }
 }