@import '../../scss/mainThemes.scss';


.ListHeader{
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Courgette', cursive;
}
.FilterBar{
    background-color: whitesmoke !important;
    position: absolute;
    height: 160px;
    margin-bottom: 20px;
    bottom:10vh !important;
}

.rangeFilter{
    margin-right: auto;
}

.FilterTitle{
    background-color: $sec-color;
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    width: 20%;
    height: 2.5rem;
    border-right: 2px solid $primary-color;
    border-left: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.collapseFilterBar{
    background-color: whitesmoke !important;
    position: absolute;
    height: 150px;
    // margin-bottom: 20px;
    bottom: 125px;
}
.filterPrice{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
}

.priceNumber{
    font-weight: 600;
}
.notFound{
    font-size: 4rem;
    text-align: center;
    height: 40rem;
}
.notFoundSearch{
    font-weight: 700;
}

.productCards{
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
}


.FilterBarAm{
    animation: FilterOut 1s ease-in;
    animation-fill-mode: forwards;
}
.FilterBarIn{
    animation: FilterIn 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes FilterOut{
    100%{
        transform: translateY(78%);
    }
}

@keyframes FilterIn{
    0%{
        transform: translateY(78%);
    }
    100%{
        transform: translateY(0%);
    }
}

@media screen and (max-width:280px){
    .FilterTitle{
        width: 60vw;
    }
    
}