.spanMarginTop{
    margin-top: 2rem;
}
.cartImg{
    aspect-ratio: 16/9;
    height: 12rem;
}

.cartTitleDiv{
    border-bottom: gray 1px solid;
}

.removeAllText{
    color: red;
}

.priceLabel{
    text-align: right;
}

.ProductCard{

    border: solid black 3px;
    display: grid;
    height: 13rem;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    padding: 0;
    margin-top: 5px;
    gap:0
}
.imgCont{
    
    grid-area: menu;
    width: 22rem;
    
    height: 12rem;
}

.mainCartProdBlock{
    grid-area: main;
    width: 50rem;
    margin-right: auto;
    
    height: 12rem;
    
}

.priceCartCont{
    grid-area: right;
    height: 12rem;
}

.titleCart{
    text-align: center;
}
.desCont{
    width: 20rem;
    height: 10rem;

  
}

.priceDiv{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.removeBtn{
    width: 6rem;
    text-align: center;
    display: block !important; 
    position: relative;
    top: 110px;
    margin-left: auto;
    margin-top: auto;
}

.buyDiv{
    width: 100%;
    border-top: 1px solid grey;
    margin-top: 1rem;
}

.buyCard{
    width: 30rem;
    margin-right: auto;
    margin-left: auto;
}
.totalprice{
    text-align: right;
    font-size: 22px;
    font-weight: 500;
}
.items{
    font-size: 22px;
}
.bottomCardCart{
    border-top: gray solid 1px;
}
.totalTitle{
    font-size: 2rem;
}

.totalPrice{
    text-align: right;
    font-size: 2rem;
    font-weight: 600;
}
.checkoutBtn{
    width: 100%;
}

@media screen and( max-width: 1600px) {
    .mainCartProdBlock{
        width: 40rem;

    }
}

@media screen and( max-width: 1400px) {
    .mainCartProdBlock{
        width: 20rem;

    }
}

@media screen and( max-width: 1000px) {
    .mainCartProdBlock{
        width: 10rem;

    }
    .titleCart{
        font-size: 25px
    }
    .imgCont{
        width: inherit;
    }
    .cartImg{
        height: 10rem;
    }
}
@media screen and( max-width: 700px) {
    .cartImg{
        height: 6rem;
    }
    .priceDiv{
        position: relative;
        top:9.5rem;
        right: 23rem;
    }
    .desCont{
        width: 30%;
       
      
    }
}
@media screen and( max-width: 600px) {
    // .titleCart{
    //     font-size: 16px
    // }
    .mainCartProdBlock{
        width: 5rem;
    }
    .buyCard{
        
        width: 20rem;
    }
    .priceDiv{
        right: 20rem;
    }
}
@media screen and( max-width: 530px) {
    .desCont{
        display: none;
    }
    .priceDiv{
        right: 15rem;
    }
}
@media screen and( max-width: 530px) {
    .titleCart{
        font-size: 25px;
        width: 10rem;
        position: absolute;
    }
    .removeBtn{
        right:5rem
    }
}
@media screen and( max-width: 400px) {
    .titleCart{
  
        width: 8rem;
    }
    .removeBtn{
        right:5rem
    }
    
    .cartImg{
        height: 5rem;
    }
    .mainCartDiv{
        width: 20rem;
    }
    .priceDiv{
        right: 12rem;
    }
}
@media screen and( max-width: 330px) {
    
    .removeBtn{
        right:2rem
    }
    .buyCard{
        width: 200px;
    }
    .mainCartDiv{
        width: 300px;
    }
    // .titleCart{
    //     position: relative;
    //     right: 180px;
    //     top:50px
    // }
    .ProductCard{
        height: 20rem;
    }
}