@import '../../scss/mainThemes.scss';

.NvBar{
    background: $primary-color;
    margin-left: auto;
    margin-right: auto;
}

.customFont{
    font-size: 1.5rem;
}

.header{
    padding-right: 3rem;
    cursor: pointer;
}

.navCont{
    margin-left: auto;
    margin-right: auto;
}

.search{
    width: 38rem;
    height: 1.2rem;
}
.searchBtn{
    width: 2;
    height: 1.2rem;
    margin-top: .6rem;
    cursor: pointer;
}
.searchsmall{
    height: 1.5rem;
    width: 20rem;
}

.rightElm{
    margin-left: auto;
}



.accPopUp{
    position: absolute;
}

//removes arrow from dropdown button in the React-Bootstrap component
.dropdown-toggle::after {
    display: none !important; 
  }

.cart{
    width: 2rem;
    cursor: pointer;
}
.collaspeBar{
    margin-left: 1rem;
}

.searchformsmall{
    margin-left: auto;
    margin-right: auto;
}
.dropBtn{
    background-color: $primary-color !important;
    border: $primary-color !important;
}
@media screen and( max-width: 330px) {
    .searchsmall{
        width: 200px;
    }
}