@import '../../scss/mainThemes.scss';

.NvBar{
    background: $primary-color;
    margin-left: auto;
    margin-right: auto;
}

.customFont{
    font-size: 1.5rem;
}

.header{
    padding-right: 3rem;
}

.navCont{
    margin-left: auto;
    margin-right: auto;
}

.search{
    width: 40rem;
    height: 1.2rem;
}
.searchsmall{
    height: 1.5rem;
    width: 20rem;
}

.rightElm{
    margin-left: auto;
}



.accPopUp{
    position: absolute;
}

//removes arrow from dropdown button in the React-Bootstrap component
.dropdown-toggle::after {
    display: none !important; 
  }

.cart{
    width: 2rem;
}
.collaspeBar{
    margin-left: 1rem;
}
.searchformsmall{
    margin-left: auto;
    margin-right: auto;
}
@media screen and( max-width: 330px) {
    .searchsmall{
        width: 200px;
    }
}