

// $primary-color: #4E4E50;
// $hover-color:rgba(78, 78, 80, 0.5);
// $border-color: red;
// $font-color:blue

// $primary-color: #ee4c7c;
// $hover-color:#5D001E ;
// $border-color: #5D001E;
// $font-color:white;


$primary-color: #FF7000;
$sec-color:#FFAC4A;
$hover-color:#F97432 ;
$border-color: #F97432;
$font-color:white;
$sec-font-color: white